<h1>Your Notes</h1>

<% @notes.rows.each do |note| %>
  <h2><%= link_to note.title, note_path(note) %></h2>
  <p><%= note.description %></p>
  <p><%= link_to "Edit", edit_note_path(note) %></p>
<% end %>
